extends index

block content
  div.span7.offset2
    h1 Baio
    p
      img(src="http://www.data-avail.com/img/team/max-1.jpg").
      br
      a(href="http://www.data-avail.com/") site
      br
      a(href="https://twitter.com/baio1980/") twitter
      br
      a(href="mailto:max.putilov@gmail.com") mail